.navlinks {
    display: flex;
}

.navlinks__links {
    display: flex;
    align-items: center;
    margin-right: 50px;      
    box-sizing: border-box;  
  }

  .navlinks__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;    
    text-align: right;
    color: #000000;    
    text-decoration: none;
  }

  .navlinks__link:hover {    
    opacity: 0.7;
  }

  .navlinks__link:first-child {
    margin-right: 20px;
  }

  .navlinks__profile-btn {
    background: #F9F9F9;
    border: 0;
    border-radius: 20px;
    padding: 8px 20px;
    box-sizing: border-box;
    max-height: 32px;
  }
  
  .navlinks__profile-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;    
    text-align: center;
    align-items: center;
    color: #000000;    
    text-decoration: none;       
  }

  .navlinks__profile-link:hover {    
    opacity: 0.7;
  }

  @media screen and (max-width: 917px) {

    .navlinks {            
        background-image: url(../../images/icon-menu.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        width: 44px;       
        height: 44px;
        margin: 0;
    }
    
    .navlinks__links {
      display: none;
    }

    .navlinks__profile-btn {
      display: none;
    }
    
}

@media screen and (max-width: 545px) {

  .navlinks {       
      width: 40px;       
      height: 43px;      
  }  
  
}
