.portfolio {
    display: flex;
    flex-direction: column;
}

.portfolio__title {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    mix-blend-mode: normal;
    margin: 0 0 50px;
}

.portfolio__links {
    display: flex;
    flex-direction: column;    
}

.portfolio__link {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0 0 19px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

.portfolio__link:last-child {
    margin: 0;
}

.portfolio__link:hover {
    opacity: 0.7;
}

.portfolio__link-icon {
    object-fit: contain;
}

.portfolio__line {
    display: block;
    width: 100%;
    background: #E8E8E8;
    margin: 0 0 20px;
}

@media screen and (max-width: 1100px) {    
    
    .portfolio__link {        
        font-size: 28px;               
    }    
    
}

@media screen and (max-width: 655px) {    
    
    .portfolio__title {        
        font-size: 14px;        
        margin: 0 0 40px;
    }    
    
    .portfolio__link {        
        font-size: 18px;
        line-height: 28px;        
    }    
    
}
